

<footer class="footer">
  <div class="footer__wrap wrapper">
    {{ macro.logo() }}
    <ul class="footer__social-icons social-icons">
      {% for icon in socialIcons %}
      <li>
        <a href="#" aria-label="{{ icon.label }}" data-icon="{{ icon.name }}">
          <svg width="{{ icon.width }}" height="24">
            <use href="#{{ icon.name }}"></use>
          </svg>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>
